<h1>Tasks</h1>
{{#each model as |task|}}
    <div class="well">
      <h4>{{#link-to 'tasks.edit' task.id}}{{task.sitename}}{{/link-to}}</h4>
      <p>{{task.siteurl}}&nbsp;{{#if task.speed}}<span>Google page speed: {{task.speed}}</span>{{/if}}</p>
      <button {{action 'getPageSpeed' task}} class="btn btn-primary">Get Speed</button>
      <button {{action 'deleteTask' task}} class="btn btn-danger">Delete</button>
    </div>
{{/each}}

